<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="~{util :: head}"></div>

<body>

<div th:replace="~{util :: pre-loader}"></div>

<div class="pcoded" id="pcoded">

    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <div th:replace="~{util :: nav-bar}"></div>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">

                <div th:replace="~{util :: side-bar}"></div>

                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10"><label th:text="${namePage}"></label></h5>
                                        <p class="m-b-0"><label th:text="${reasonPage}"></label></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page-header end -->

                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Próximos Eventos</h5>
                                                </div>
                                                <div class="card-block">
                                                    <div class="col-xl-12 col-md-12">

                                                        <div class="table-responsive">
                                                            <table class="table table-sm table-hover table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th>Evento</th>
                                                                    <th>Data Evento</th>
                                                                    <th>Valor (R$)</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr th:each="ticket : ${futureEventResponseDTO}">
                                                                    <td>
                                                                        <div class="d-inline-block align-middle">
                                                                            <img alt="user image"
                                                                                 class="img-40 align-top m-r-15"
                                                                                 th:src="${ticket.event.image}">
                                                                            <div class="d-inline-block">
                                                                                <h6><label
                                                                                        th:text="${ticket.event.name}"></label>
                                                                                </h6>
                                                                                <p class="text-muted m-b-0">
                                                                                    <label th:text="${ticket.event.description}"></label>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td><label th:text="${ticket.event.date}"></label>
                                                                    </td>
                                                                    <td>R$ <label
                                                                            th:text="${ticket.event.ticketValue}"></label>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <nav aria-label="Page navigation example"
                                                                 th:if="${futureEventResponseDTO.totalPages > 0}">
                                                                <ul class="pagination justify-content-center pagination-sm">
                                                                    <li class="page-item"
                                                                        th:if="${futureEventResponseDTO.hasPrevious()}">
                                                                        <a class="page-link"
                                                                           tabindex="-1"
                                                                           th:href="@{/events(page=${futureEventResponseDTO.number-1}, size=3)}">Previous</a>
                                                                    </li>
                                                                    <li class="page-item"
                                                                        th:each="pageNumber : ${pageNumbers}"><a
                                                                            class="page-link"
                                                                            th:href="@{/events(page=${pageNumber - 1}, size=3)}"
                                                                            th:text=${pageNumber}></a></li>
                                                                    <li class="page-item"
                                                                        th:if="${futureEventResponseDTO.hasNext()}">
                                                                        <a class="page-link"
                                                                           th:href="@{/events(page=${futureEventResponseDTO.number+1}, size=3)}">Next</a>
                                                                    </li>
                                                                </ul>
                                                            </nav>
                                                            <div class="text-right m-r-20"
                                                                 th:if="null != ${allEvents}">
                                                                <a class=" b-b-primary text-primary" href="#!">Ver
                                                                    todos os eventos</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Comprar Tickets</h5>
                                                </div>
                                                <div class="card-block accordion-block">
                                                    <div aria-multiselectable="true" id="accordion"
                                                         role="tablist">
                                                        <div class="accordion-panel"
                                                             th:if="${#lists.size(newerEventResponseDTO)} > 0">
                                                            <!--   ${newerEventResponseDTO[5]} != null-->
                                                            <div class="accordion-heading" id="headingOne"
                                                                 role="tab">
                                                                <h3 class="card-title accordion-title">
                                                                    <a aria-controls="collapseOne"
                                                                       aria-expanded="true"
                                                                       class="accordion-msg waves-effect waves-dark"
                                                                       data-parent="#accordion"
                                                                       data-toggle="collapse"
                                                                       href="#collapseOne">
                                                                        <label th:text="${newerEventResponseDTO[0].name} +' - R$ '+ ${newerEventResponseDTO[0].ticketValue}"></label>
                                                                    </a>
                                                                </h3>
                                                            </div>
                                                            <div aria-labelledby="headingOne"
                                                                 class="panel-collapse collapse in"
                                                                 id="collapseOne" role="tabpanel">
                                                                <div class="accordion-content accordion-desc">
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <p>
                                                                                <label th:text="${newerEventResponseDTO[0].description}"></label>
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-sm-5">
                                                                            <p>
                                                                                <label th:text="${newerEventResponseDTO[0].ownerPhoneNumber}"></label>
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <button class="btn waves-effect waves-light btn-grd-success"
                                                                                    data-target="#exampleModalCenter"
                                                                                    data-toggle="modal"
                                                                                    th:onclick="ajaxQrCode([[${newerEventResponseDTO[0].id}]], false)">
                                                                                Comprar
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-panel"
                                                             th:unless="${#lists.size(newerEventResponseDTO)} > 0">
                                                            <div class="alert alert-light" role="alert">
                                                                <h3>Não existem novos eventos no momento.</h3>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-panel"
                                                             th:if="${#lists.size(newerEventResponseDTO)} > 1">
                                                            <div class="accordion-heading" id="headingTwo"
                                                                 role="tab">
                                                                <h3 class="card-title accordion-title">
                                                                    <a aria-controls="collapseTwo"
                                                                       aria-expanded="false"
                                                                       class="accordion-msg waves-effect waves-dark"
                                                                       data-parent="#accordion"
                                                                       data-toggle="collapse"
                                                                       href="#collapseTwo">
                                                                        <label th:text="${newerEventResponseDTO[1].name} +' - R$ '+ ${newerEventResponseDTO[1].ticketValue}"></label>
                                                                    </a>
                                                                </h3>
                                                            </div>
                                                            <div aria-labelledby="headingTwo"
                                                                 class="panel-collapse collapse" id="collapseTwo"
                                                                 role="tabpanel">
                                                                <div class="accordion-content accordion-desc">
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <p>
                                                                                <label th:text="${newerEventResponseDTO[1].description}"></label>
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-sm-5">
                                                                            <p>
                                                                                <label th:text="${newerEventResponseDTO[1].ownerPhoneNumber}"></label>
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <button class="btn waves-effect waves-light btn-grd-success"
                                                                                    data-target="#exampleModalCenter"
                                                                                    data-toggle="modal"
                                                                                    th:onclick="ajaxQrCode([[${newerEventResponseDTO[1].id}]], false)">
                                                                                Comprar
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-panel"
                                                             th:if="${#lists.size(newerEventResponseDTO)} > 2">
                                                            <div class=" accordion-heading" id="headingThree"
                                                                 role="tab">
                                                                <h3 class="card-title accordion-title">
                                                                    <a aria-controls="collapseThree"
                                                                       aria-expanded="false"
                                                                       class="accordion-msg waves-effect waves-dark"
                                                                       data-parent="#accordion"
                                                                       data-toggle="collapse"
                                                                       href="#collapseThree">
                                                                        <label th:text="${newerEventResponseDTO[2].name} +' - R$ '+ ${newerEventResponseDTO[2].ticketValue}"></label>
                                                                    </a>
                                                                </h3>
                                                            </div>
                                                            <div aria-labelledby="headingThree"
                                                                 class="panel-collapse collapse" id="collapseThree"
                                                                 role="tabpanel">
                                                                <div class="accordion-content accordion-desc">
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <p>
                                                                                <label th:text="${newerEventResponseDTO[2].description}"></label>
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-sm-5">
                                                                            <p>
                                                                                <label th:text="${newerEventResponseDTO[2].ownerPhoneNumber}"></label>
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <button class="btn waves-effect waves-light btn-grd-success"
                                                                                    data-target="#exampleModalCenter"
                                                                                    data-toggle="modal"
                                                                                    th:onclick="ajaxQrCode([[${newerEventResponseDTO[2].id}]], false)">
                                                                                Comprar
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Eventos Passados</h5>
                                                </div>
                                                <div class="card-block">
                                                    <div class="col-xl-12 col-md-12">

                                                        <div class="table-responsive">
                                                            <table class="table table-hover table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th>Evento</th>
                                                                    <th>Data Evento</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr th:each="ticket : ${pastEventResponseDTO}">
                                                                    <td>
                                                                        <div class="d-inline-block align-middle">
                                                                            <img alt="user image"
                                                                                 class="img-40 align-top m-r-15"
                                                                                 th:src="${ticket.event.image}">
                                                                            <div class="d-inline-block">
                                                                                <h6><label
                                                                                        th:text="${ticket.event.name}"></label>
                                                                                </h6>
                                                                                <p class="text-muted m-b-0">
                                                                                    <label
                                                                                            th:text="${ticket.event.description}"></label>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td><label
                                                                            th:text="${ticket.event.date}"></label></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <div class="text-right m-r-20"
                                                                 th:if="null != ${allEvents}">
                                                                <a class=" b-b-primary text-primary" href="#!">Ver
                                                                    todos os eventos</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="exampleModalCenter"
     role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Pagamento via Pix</h5>
                <button aria-label="Close" class="close" data-dismiss="modal"
                        type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="display: flex;">
                <div id="modalContentPix" style="align-items: center; justify-content:center; min-width: 400px;">

                    <img alt="qrcode"
                         class="align-top m-r-15"
                         id="qrCode"
                         style="width: 90%; max-width:400px; margin-left: 30px;">

                    <input hidden id="eventId" name="eventId"/>

                    <div class="progress" hidden id="spinPix" style="margin-left: 30px">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0"
                             class="progress-bar progress-bar-striped progress-bar-animated"
                             id="spinPixBar" role="progressbar"
                             style="width: 0%"></div>
                    </div>

                    <div class="col-sm-12" hidden="true" id="pagamento-sucesso">
                        <div class="alert alert-success alert-dismissible" role="alert"
                             style="margin-top:20px">
                            O Pagamento foi realizado com sucesso!
                            <button aria-label="Close" class="close" data-dismiss="alert"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-12" hidden="true" id="pagamento-erro">
                        <div class="alert alert-danger alert-dismissible" role="alert"
                             style="margin-top:20px">
                            O Pagamento não foi realizado com sucesso! Gentileza
                            verificar saldo e/ou se o pix foi realizado.
                            <button aria-label="Close" class="close"
                                    data-dismiss="alert" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer" id="modalCompraFooter">
                <button class="btn btn-success" id="btnConfirmaCompra" onclick="reloadPage()" type="button">
                    Confirmar Compra
                </button>
                <button class="btn btn-primary" hidden="true" id="btnTentaDenovoCompra"
                        onclick="ajaxQrCode(0, true)" type="button">
                    Tentar Novamente
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Warning Section Starts -->
<!-- Older IE warning message -->
<!--[if lt IE 10]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers
        to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->

<!-- Required Jquery -->
<script src="assets/js/jquery/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/jquery-ui/jquery-ui.min.js " type="text/javascript"></script>
<script src="assets/js/popper.js/popper.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap/js/bootstrap.min.js " type="text/javascript"></script>
<script src="assets/pages/widget/excanvas.js " type="text/javascript"></script>
<!-- waves js -->
<script src="assets/pages/waves/js/waves.min.js"></script>
<!-- jquery slimscroll js -->
<script src="assets/js/jquery-slimscroll/jquery.slimscroll.js " type="text/javascript"></script>
<!-- modernizr js -->
<script src="assets/js/modernizr/modernizr.js " type="text/javascript"></script>
<!-- slimscroll js -->
<script src="assets/js/SmoothScroll.js" type="text/javascript"></script>
<script src="assets/js/jquery.mCustomScrollbar.concat.min.js "></script>
<!-- menu js -->
<script src="assets/js/pcoded.min.js"></script>
<script src="assets/js/vertical-layout.min.js "></script>
<!-- custom js -->
<script src="assets/pages/dashboard/custom-dashboard.js" type="text/javascript"></script>
<script src="assets/js/script.js " type="text/javascript"></script>

<script>

    function reloadPage() {

       var qrCode = document.getElementById('qrCode');
       qrCode.setAttribute('hidden', 'true');
       var spin = document.getElementById('spinPix');
       spin.removeAttribute("hidden");

       var spinBar = document.getElementById('spinPixBar');

       var eventId = document.getElementById('eventId').value;



       sleep(500).then(() => { spinBar.style.width = '10%';
            sleep(500).then(() => { spinBar.style.width = '25%';
                sleep(500).then(() => { spinBar.style.width = '50%';
                    sleep(500).then(() => { spinBar.style.width = '75%';
                        sleep(500).then(() => { spinBar.style.width = '100%';
                            sleep(500).then(() => { window.onload = ajaxPaymentVerified(eventId); });
                        });
                    });
                });
            });
        });

    }

    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    function ajaxPaymentVerified(id) {
         $.ajax({
            url: "/events/verify-payment?eventId=" + id,
            type: "GET",
        }).done(function( data, textStatus, jqXHR ) {

            var spin = document.getElementById('spinPix');
            spin.setAttribute('hidden', 'true');

            if (data === 'true') {

               $("#modalCompraFooter").attr('hidden', true);
               $("#pagamento-sucesso").attr('hidden', false);
               sleep(2000).then(() => { window.location.reload(); });

            } else {
               $("#btnConfirmaCompra").attr('hidden', true);
               $("#btnTentaDenovoCompra").attr('hidden', false);
               $("#pagamento-erro").attr('hidden', false);
            }

        }).fail(function( jqXHR, textStatus, errorThrown ) {
            alert("fail pagamento: " + errorThrown);
        });
    }

        function ajaxQrCode(id, disable) {

            if (disable) {
                $("#pagamento-erro").attr('hidden', true);
                $("#qrCode").attr('hidden', false);
                $("#btnConfirmaCompra").attr('hidden', false);
                $("#btnTentaDenovoCompra").attr('hidden', true);
                id = document.getElementById('eventId').value;
            }

             $.ajax({
                url: "/events/qrCode/" + id,
                type: "GET",
            }).done(function( data, textStatus, jqXHR ) {
                $("#qrCode").attr('src', data.qrCode);
                $("#eventId").val(data.eventId);
            }).fail(function( jqXHR, textStatus, errorThrown ) {
                alert("fail qrcode: " + errorThrown);
            });
    }











</script>
</body>

</html>