<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{util :: head}"></div>

<body themebg-pattern="theme1">

<div th:replace="~{util :: pre-loader}"></div>

<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->

                <form class="md-float-material form-material" method="post" th:action="@{/login}">
                    <div class="text-center">
                        <img alt="logo.png" src="assets/images/logo-fast.png">
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center">Login</h3>
                                </div>
                            </div>
                            <div class="form-group form-primary">
                                <input class="form-control" name="email" required="required" type="text">
                                <span class="form-bar"></span>
                                <label class="float-label">Email</label>
                            </div>
                            <div class="form-group form-primary">
                                <input class="form-control" name="password" required="required" type="password">
                                <span class="form-bar"></span>
                                <label class="float-label">Senha</label>
                            </div>
                            <div class="row m-t-25 text-left">
                                <div class="col-12">
                                    <div class="forgot-phone text-left f-left">
                                        <a class="text-left f-w-600" th:href="@{/sign-up}">Registre-se</a>
                                    </div>
                                    <div class="forgot-phone text-right f-right">
                                        <a class="text-right f-w-600" th:href="@{/forgot-password}">Esqueceu a
                                            senha?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20"
                                            type="submit">
                                        Entrar
                                    </button>
                                </div>
                            </div>
                            <hr/>
                        </div>

                    </div>

                </form>


                <!-- end of form -->

                <!-- Alertas -->
                <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:20px"
                     th:if="'enabled' == ${errorMsg}">
                    Usuario e/ou Senha estão incorretos. Verifique!
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:20px"
                     th:if="'enabled' == ${enabledMsg}">
                    Usuario ainda não foi ativado. Verifique o código enviado para seu email <strong>(Verifique o
                    Spam)</strong>, e acesse a url de
                    ativação!
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="alert alert-success alert-dismissible" role="alert" style="margin-top:20px"
                     th:if="'enabled' == ${activeMsg}">
                    <strong>Parabéns, sua conta no Fast-Pass ja foi ativada e agora você pode começar a
                        utilizar!</strong>
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="alert alert-success alert-dismissible" role="alert" style="margin-top:20px"
                     th:if="'enabled' == ${signUpMsg}">
                    Enviamos um email <strong>(Verifique o
                    Spam)</strong> para: <strong><label th:text="${userResponseDTO.email}"></label></strong>, onde
                    você encontrará as instruções necessárias e poderá começar utilizar o <strong>Fast
                    Pass</strong>!
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="alert alert-success alert-dismissible" role="alert" style="margin-top:20px"
                     th:if="'enabled' == ${forgotPasswordMsg}">
                    Te enviamos um email <strong>(Verifique o
                    Spam)</strong>, onde você encontrará sua nova senha para você voltar a utilizar o <strong>Fast
                    Pass</strong>!
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>

            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>

<script src="assets/js/jquery/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/jquery-ui/jquery-ui.min.js " type="text/javascript"></script>
<script src="assets/js/popper.js/popper.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap/js/bootstrap.min.js " type="text/javascript"></script>
<script src="assets/pages/waves/js/waves.min.js"></script>
<script src="assets/js/jquery-slimscroll/jquery.slimscroll.js " type="text/javascript"></script>
<script src="assets/js/SmoothScroll.js" type="text/javascript"></script>
<script src="assets/js/jquery.mCustomScrollbar.concat.min.js "></script>
<script src="bower_components/i18next/js/i18next.min.js" type="text/javascript"></script>
<script src="bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js" type="text/javascript"></script>
<script src="bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"
        type="text/javascript"></script>
<script src="bower_components/jquery-i18next/js/jquery-i18next.min.js" type="text/javascript"></script>
<script src="assets/js/common-pages.js" type="text/javascript"></script>
</body>

</html>