<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="~{util :: head}"></div>

<body>

<div th:replace="~{util :: pre-loader}"></div>

<div class="pcoded" id="pcoded">

    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <div th:replace="~{util :: nav-bar}"></div>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">

                <div th:replace="~{util :: side-bar}"></div>

                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10"><label th:text="${namePage}"></label></h5>
                                        <p class="m-b-0"><label th:text="${reasonPage}"></label></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page-header end -->

                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="card quater-card">
                                        <div class="card-header">
                                            <h5>Informações da carteira</h5>
                                        </div>
                                        <div class="card-block">
                                            <h6 class="text-muted m-b-15">Saldo disponível:</h6>
                                            <h4>R$ <label
                                                    th:text="${cardInfoResponseDTO.balance}"></label></h4>
                                            <p class="text-muted">Total investido até o momento: R$ <label
                                                    th:text="${cardInfoResponseDTO.totalInvested}"></label></p>
                                            <h5><label
                                                    th:text="${cardInfoResponseDTO.totalProducts}"></label></h5>
                                            <p class="text-muted">Produtos Comprados<span class="f-right"><label
                                                    th:text="${cardInfoResponseDTO.totalProductsPercent}"></label></span>
                                            </p>
                                            <div class="progress">
                                                <div class="progress-bar bg-c-blue"
                                                     th:style="'width:'+ ${cardInfoResponseDTO.totalProductsPercent}">
                                                </div>
                                            </div>
                                            <h5 class="m-t-15"><label
                                                    th:text="${cardInfoResponseDTO.totalTickets}"></label></h5>
                                            <p class="text-muted">Ingressos Comprados<span class="f-right"><label
                                                    th:text="${cardInfoResponseDTO.totalTicketsPercent}"></label></span>
                                            </p>
                                            <div class="progress">
                                                <div class="progress-bar bg-c-green"
                                                     th:style="'width:'+ ${cardInfoResponseDTO.totalTicketsPercent}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Nova recarga</h5>
                                        </div>
                                        <div class="card-block">
                                            <form class="form-material">
                                                <div class="form-group row">
                                                    <div class="col-sm-5">
                                                        <input class="form-control form-control-center"
                                                               id="valorRecarga"
                                                               name="valorRecarga"
                                                               placeholder="Digite o valor da recarga" required
                                                               type="text">
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <select class="form-control form-control-center"
                                                                id="metodoPagamentoRecarga"
                                                                name="metodoPagamentoRecarga">
                                                            <option value="PIX">PIX</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <button class="btn btn-success"
                                                                data-target="#exampleModalCenter"
                                                                data-toggle="modal"
                                                                id="btnConfirmaCompra"
                                                                onclick="ajaxQrCode(false);"
                                                                type="button">
                                                            Comprar
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Ultimas Recargas</h5>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-sm table-hover table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Valor (R$)</th>
                                                        <th>Forma de Pagamento</th>
                                                        <th>Data Recarga</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="recharge : ${rechargeListResponseDTO}">
                                                        <th scope="row"><label
                                                                th:text="${recharge.id}"></label></th>
                                                        <td><label
                                                                th:text="${recharge.value}"></label></td>
                                                        <td>PIX</td>
                                                        <td><label
                                                                th:text="${recharge.date}"></label></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="exampleModalCenter"
     role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Pagamento via Pix</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" onclick="reloadPage()"
                        type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="display: flex;">
                <div id="modalContentPix" style="align-items: center; justify-content:center; min-width: 400px;">

                    <img alt="qrcode"
                         class="align-top m-r-15"
                         id="qrCode"
                         style="width: 90%; max-width:400px; margin-left: 30px;">

                    <input hidden id="value" name="value"/>

                    <div class="progress" hidden id="spinPix" style="margin-left: 30px">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0"
                             class="progress-bar progress-bar-striped progress-bar-animated"
                             id="spinPixBar" role="progressbar"
                             style="width: 0%"></div>
                    </div>

                    <div class="col-sm-12" hidden="true" id="pagamento-sucesso">
                        <div class="alert alert-success alert-dismissible" role="alert"
                             style="margin-top:20px">
                            O Pagamento foi realizado com sucesso!
                            <button aria-label="Close" class="close" data-dismiss="alert"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-12" hidden="true" id="pagamento-erro">
                        <div class="alert alert-danger alert-dismissible" role="alert"
                             style="margin-top:20px">
                            O Pagamento não foi realizado com sucesso! Gentileza
                            verificar saldo e/ou se o pix foi realizado.
                            <button aria-label="Close" class="close"
                                    data-dismiss="alert" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer" id="modalCompraFooter">
                <button class="btn btn-success" id="btnConfirmaCompraPix" onclick="reloadPage()" type="button">
                    Confirmar Compra
                </button>
                <button class="btn btn-primary" hidden="true" id="btnTentaDenovoCompra"
                        onclick="ajaxQrCode(true)" type="button">
                    Tentar Novamente
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Warning Section Starts -->
<!-- Older IE warning message -->
<!--[if lt IE 10]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers
        to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->

<!-- Required Jquery -->
<script src="assets/js/jquery/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/jquery-ui/jquery-ui.min.js " type="text/javascript"></script>
<script src="assets/js/popper.js/popper.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap/js/bootstrap.min.js " type="text/javascript"></script>
<script src="assets/pages/widget/excanvas.js " type="text/javascript"></script>
<!-- waves js -->
<script src="assets/pages/waves/js/waves.min.js"></script>
<!-- jquery slimscroll js -->
<script src="assets/js/jquery-slimscroll/jquery.slimscroll.js " type="text/javascript"></script>
<!-- modernizr js -->
<script src="assets/js/modernizr/modernizr.js " type="text/javascript"></script>
<!-- slimscroll js -->
<script src="assets/js/SmoothScroll.js" type="text/javascript"></script>
<script src="assets/js/jquery.mCustomScrollbar.concat.min.js "></script>
<!-- menu js -->
<script src="assets/js/pcoded.min.js"></script>
<script src="assets/js/vertical-layout.min.js "></script>
<!-- custom js -->
<script src="assets/pages/dashboard/custom-dashboard.js" type="text/javascript"></script>
<script src="assets/js/script.js " type="text/javascript"></script>

<script src="https://plentz.github.io/jquery-maskmoney/javascripts/jquery.maskMoney.min.js"
        type="text/javascript"></script>

<script>

     $(document).ready(function() {
        $('#valorRecarga').maskMoney({thousands:'.', decimal:'.', allowZero:true, prefix:'R$ '});
     })

     function reloadPage() {

       var qrCode = document.getElementById('qrCode');
       qrCode.setAttribute('hidden', 'true');
       var spin = document.getElementById('spinPix');
       spin.removeAttribute("hidden");

       var spinBar = document.getElementById('spinPixBar');
       var value = document.getElementById('value').value;

       sleep(500).then(() => { spinBar.style.width = '10%';
            sleep(500).then(() => { spinBar.style.width = '25%';
                sleep(500).then(() => { spinBar.style.width = '50%';
                    sleep(500).then(() => { spinBar.style.width = '75%';
                        sleep(500).then(() => { spinBar.style.width = '100%';
                            sleep(500).then(() => { window.onload = ajaxPaymentVerified(value); });
                        });
                    });
                });
            });
        });
    }

    function ajaxPaymentVerified(value) {
         $.ajax({
            url: "/recharges/verify-payment/" + value,
            type: "GET",
            }).done(function( data, textStatus, jqXHR ) {

            var spin = document.getElementById('spinPix');
            spin.setAttribute('hidden', 'true');

            if (data === 'true') {

               $("#modalCompraFooter").attr('hidden', true);
               $("#pagamento-sucesso").attr('hidden', false);
               sleep(2000).then(() => { window.location.reload(); });

            } else {
               $("#btnConfirmaCompraPix").attr('hidden', true);
               $("#btnTentaDenovoCompra").attr('hidden', false);
               $("#pagamento-erro").attr('hidden', false);
            }

        }).fail(function( jqXHR, textStatus, errorThrown ) {
            alert("fail pagamento: " + errorThrown);
        });
    }

    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    function ajaxQrCode(disabled) {

        var valorRecarga = null;

            if (disabled) {
                $("#pagamento-erro").attr('hidden', true);
                $("#qrCode").attr('hidden', false);
                $("#btnConfirmaCompra").attr('hidden', false);
                $("#btnTentaDenovoCompra").attr('hidden', true);
                valorRecarga = document.getElementById('value').value;
            } else {
                valorRecarga = document.getElementById('valorRecarga').value;
            }

             $.ajax({
                url: "/recharges/qrCode/" + valorRecarga,
                type: "GET",
            }).done(function( data, textStatus, jqXHR ) {
                $("#qrCode").attr('src', data.qrCode);
                 $("#value").val(data.value);
            }).fail(function( jqXHR, textStatus, errorThrown ) {
                alert("fail qrcode: " + errorThrown);
            });
    }























































































































</script>
</body>

</html>