<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="~{util :: head}"></div>

<body>

<div th:replace="~{util :: pre-loader}"></div>

<div class="pcoded" id="pcoded">

    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <div th:replace="~{util :: nav-bar}"></div>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">

                <div th:replace="~{util :: side-bar}"></div>

                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10"><label th:text="${namePage}"></label></h5>
                                        <p class="m-b-0"><label th:text="${reasonPage}"></label></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page-header end -->

                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Minhas Compras</h5>
                                                <div class="card-header-right">
                                                    <ul class="list-unstyled card-option">
                                                        <li><i class="fa fa fa-wrench open-card-option"></i>
                                                        </li>
                                                        <li><i class="fa fa-window-maximize full-card"></i></li>
                                                        <li><i class="fa fa-refresh reload-card"
                                                               onclick="window.location.reload()"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-block">
                                                <div class="col-xl-12 col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-sm table-hover table-bordered">
                                                            <thead>
                                                            <tr>
                                                                <th>Produto/Evento</th>
                                                                <th>Data Compra</th>
                                                                <th>Valor (R$)</th>
                                                                <th>Status Compra</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="transaction : ${transactionPageResponseDTO}">
                                                                <td>
                                                                    <div class="d-inline-block align-middle">
                                                                        <img alt="product image"
                                                                             class="img-radius img-50 align-top m-r-15"
                                                                             style="max-height:40px;"
                                                                             th:src="${transaction.product.image}">
                                                                        <div class="d-inline-block">
                                                                            <h6><label
                                                                                    th:text="${transaction.product.name}"></label>
                                                                            </h6>
                                                                            <p class="text-muted m-b-0"><label
                                                                                    th:text="${transaction.event.name}"></label>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td><label
                                                                        th:text="${transaction.date}"></label></td>
                                                                <td>R$ <label
                                                                        th:text="${transaction.product.value}"></label>
                                                                </td>
                                                                <td>
                                                                    <label class="label label-success"
                                                                           th:if="${transaction.status.description} == 'Aprovada'"><label
                                                                            th:text="${transaction.status.description}"></label></label>
                                                                    <label class="label label-danger"
                                                                           th:unless="${transaction.status.description} == 'Aprovada'"><label
                                                                            th:text="${transaction.status.description}"></label></label>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <nav aria-label="Page navigation example"
                                                     th:if="${transactionPageResponseDTO.totalPages > 0}">
                                                    <ul class="pagination justify-content-center pagination-sm">
                                                        <li class="page-item"
                                                            th:if="${transactionPageResponseDTO.hasPrevious()}">
                                                            <a class="page-link"
                                                               tabindex="-1"
                                                               th:href="@{/transactions(page=${transactionPageResponseDTO.number-1}, size=5)}">Previous</a>
                                                        </li>
                                                        <li class="page-item" th:each="pageNumber : ${pageNumbers}"><a
                                                                class="page-link"
                                                                th:href="@{/transactions(page=${pageNumber - 1}, size=5)}"
                                                                th:text=${pageNumber}></a></li>
                                                        <li class="page-item"
                                                            th:if="${transactionPageResponseDTO.hasNext()}">
                                                            <a class="page-link"
                                                               th:href="@{/transactions(page=${transactionPageResponseDTO.number+1}, size=5)}">Next</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="exampleModalCenter"
     role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Pagamento via Pix</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" onclick="reloadPage()"
                        type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="display: flex;">
                <div style="align-items: center; justify-content:center">
                    <img alt="qrcode"
                         class="align-top m-r-15"
                         id="qrCode"
                         style="width: 90%; max-width:400px; margin-left: 30px;">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Warning Section Starts -->
<!-- Older IE warning message -->
<!--[if lt IE 10]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers
        to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->

<!-- Required Jquery -->
<script src="assets/js/jquery/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/jquery-ui/jquery-ui.min.js " type="text/javascript"></script>
<script src="assets/js/popper.js/popper.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap/js/bootstrap.min.js " type="text/javascript"></script>
<script src="assets/pages/widget/excanvas.js " type="text/javascript"></script>
<!-- waves js -->
<script src="assets/pages/waves/js/waves.min.js"></script>
<!-- jquery slimscroll js -->
<script src="assets/js/jquery-slimscroll/jquery.slimscroll.js " type="text/javascript"></script>
<!-- modernizr js -->
<script src="assets/js/modernizr/modernizr.js " type="text/javascript"></script>
<!-- slimscroll js -->
<script src="assets/js/SmoothScroll.js" type="text/javascript"></script>
<script src="assets/js/jquery.mCustomScrollbar.concat.min.js "></script>
<!-- menu js -->
<script src="assets/js/pcoded.min.js"></script>
<script src="assets/js/vertical-layout.min.js "></script>
<!-- custom js -->
<script src="assets/pages/dashboard/custom-dashboard.js" type="text/javascript"></script>
<script src="assets/js/script.js " type="text/javascript"></script>

<script>

    function reloadPage() {
        window.location.reload();
    }

    function ajaxQrCode(id) {
         $.ajax({
            url: "/events/qrCode/" + id,
            type: "GET",
            //mimeType: "text/plain; charset=x-user-defined"
        }).done(function( data, textStatus, jqXHR ) {
            $("#qrCode").attr('src', data);
        }).fail(function( jqXHR, textStatus, errorThrown ) {
            alert("fail: " + errorThrown);
        });
    }
















































































</script>
</body>

</html>